    <div class="row">
  <button type="button" class="btn btn-outline-primary" routerLink="/editacercade/1" *ngIf="isLogged">
        Agregar Persona
    </button>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src={{persona.img}} class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
        <span>
            <h1>Acerca de mí</h1>
            <div class="col-md-11 align-items-center" >
            <p>Me llamo Eliana Moreno, soy Técnica Universitaria en Comercio Electrónico o E-Commerce. Hace más de 15 años que trabajo en el área de ventas online. Desde pequeña, mi curiosidad me llevó a explorar distintos mundos relacionados con la tecnología. La informática y los videojuegos son una de mis debilidades, además, tengo impregnado en el alma el espíritu emprendedor que siempre me lleva a recorrer nuevos caminos que desafíen mis propios límites. Recientemente, he estado adquiriendo más conocimiento en tecnologías orientadas a la web para desarrollar y potenciar aún más mi carrera profesional. </p>
        
</div>
