<div class="row" id="footer">
    <div class="container">
      
      <h2 class="section-title clight font-weight-bold text-center mb-2">
        ¿Te interesa contar conmigo para tus proyectos?
      </h2>
      <div class="w3-panel w3-pale-green w3-bottombar w3-border-green w3-border text-center mb-3">
        <p>¿Estás buscando un E-commerce para tu negocio? Si la
          respuesta es si, enviame un mensaje a elianamoreno1986@gmail.com</p>
      </div>
    
   <br>
      <footer>
        <p>Moreno Eliana | © Argentina Programa 2022</p>
        <p>Buenos Aires, Argentina</p>
    </footer>
    
</div>